
@{
    ViewBag.Title = "index";
    ViewBag.types = Session["types"];
    ViewBag.values = Session["values"];
    int i = 0;
}
<h2>@ViewBag.name</h2>
    <img src="http://localhost:49767/scheme/getImage">

