<script>
    var t;
    function autoreload() {
        load();
        setInterval("autoreload()", 20000);
        console.log("loading");
    }
    function reload() {
        load();
    }
    function load() {
        var d = new Date();
        document.getElementById("schema").src = "/scheme/getImage?514561" + d.getTime();
    }
</script>
@{
    ViewBag.Title = "index";
    ViewBag.types = Session["types"];
    ViewBag.values = Session["values"];
    int i = 0;
}
@Html.Partial("~/Views/Menu/_Menu.cshtml")
<h2>@ViewBag.name</h2>
<div onclick="reload()">
    <img id="schema" src="/scheme/getImage" />
</div>
