
@{
    ViewBag.Title = "index";
    ViewBag.types = Session["types"];
    ViewBag.values = Session["values"];
    int i = 0;
}
@Html.Partial("~/Views/Menu/_Menu.cshtml")
<h2>@ViewBag.name</h2>
    <img src="/scheme/getImage">

