<div class="sidenav a">
        @foreach (String item in ViewBag.names) {
            <a href="/@item?id=@ViewBag.id/">@item</a>
        }
</div>
<h2>@ViewBag.Name</h2>
<div>
    <object type="text/html" data="http://users.nordit.cz/ih2/10530_Gida/gida_overview_sch_WF.htm" width="1200px" height="850px" style="overflow:auto;border:5px ridge blue"></object>
</div>