<script>
    var t;
    $(document).ready(function autreload() {
        load();
        setInterval("autoreload()", 20000);
    });
    function reload() {
        load();
    }
    function load() {
        var d = new Date();
        document.getElementById("schema").src = "/scheme/getImage?514561" + d.getTime();
    }
</script>
@{
    ViewBag.Title = "Menu";
}
<h2>@ViewBag.Name</h2>
<div onclick="reload()">
    <img id="schema" src="/scheme/getImage" />
</div>
