@using MVCtutorial.Controllers
@using System.Web.Mvc

<div class="jumbotron">
    <h1>Welcome on users.nordit.cz</h1>
    <p class="lead">Prepare yourself for stunning experience on new users.nordit.cz vizulization platform with NORDIT platform brand</p>
    @for (int i = 0; i < ViewBag.Count; i++)
    {
        <a href="/Menu?id=@ViewBag.Numbers[i]" class="btn-primary btn-lg">@ViewBag.Text[i]&rAarr;</a><br>
    }
</div>