
@{
    ViewBag.Title = "News";
}

<h2>News</h2>
<div class="jumbotron">
        <h2>News</h2>
        <p>
            In latest update have been add following features:<br>
            After submit page of alarms from index alarm page you wont get 0 of alarms but always 20 of them.<br>
            Menu of this page hase been changed to more user-friendly platform.
        </p><a href="http://192.168.2.13/" class="btn-primary btn-lg">Back to hompepage</a></p>
</div>
