
@{
    ViewBag.Title = "Order";
}

<h2>Under development</h2>

<div class="jumbotron">
    <p>
        I want to very apologize but we arent prepare for delivier our awesome product please try it again later following year. But you should try all features, which has been finished yet
    </p><a href="http://192.168.2.13/" class="btn-primary btn-lg">Back to hompepage</a></p>
</div>
